

<h1>Home</h1>
<p>
  This is the home page for the
  <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
  sample application.
</p>
<h3>Link Set</h3>
<a href="help">Help</a></br>
<a href="about">About</a></br>
<a href="contact">Contact</a></br>
