<% if @contacts.any? %>
    <h4>contacts(<%= @contacts.count %>)</h4>
    <% i = 1 %>
    <ul class="contacts">
        <%@contacts.each { |contact| %>
        <% if i > 10 %>
        <li id="<%= contact.account_name %>" class="hidden">
        <% else %>
        <li id="<%= contact.account_name %>">
        <% end %>
        <%= link_to contact.name , message_path(contact) %>
        </li>
        <% i+=1 } %>
    </ul>
    <% if i > 10 %>
    <a href="javascript:void(0)" id="showall">showall</a>
    <% end %>
    <script>
        $("#showall").click(function(){
          
          $(".contacts li").each(function(){
             
             $(this).removeClass("hidden");
              
          });
          $(this).hide();
        });
        
    </script>
<% end %>